*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color:rgb(32, 180, 206);
    padding: 20px;
    text-align: center;
}

h1 {
    color:rgb(127, 255, 212);
    font-family: "arial" , sans-serif;
    font-size: 40px;
    margin-bottom: 30px;
}

p{
    font-family: "verdana" , sans-serif;
    font-size: 18px;
} 

nav{
background-color: aquamarine;
padding: 10px;
text-align: center;
}

a {
    font-family: "verdana" , sans-serif;
    font-size: 16px;
    color: #117fda;
   padding: 10px;
   text-decoration: none;
   text-align: center;
   font-weight: bold;
}

a:hover {
    background-color: cornflowerblue;
    transition: background-color 0.4s;
}

main{

    background-color: #117fda;
    height:100vh;
    padding: 0px 20px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
     padding: 20px;
    width: 800px;
    max-width: 100%;
    margin:auto;
    border-radius: 0px 0px 10px 10px;
}

section h2 {
    font-family: "poppins", sans-serif;
    font-size: 28px; 
    color: cadetblue ;
    text-align: center;
     margin-bottom: 20px;
}
section h3 {
    font-family: "poppins", sans-serif;
    font-size: 22px;
    margin-bottom: 15px;
    color: deepskyblue;
}

    section p {
         line-height: 1.6;
         font-size: 16px ;
         color: lightseagreen;
}

img{
    max-width:100% ;
    margin-top: 10px;
}   

.autor-data{
     display:flex;
     flex-direction: column;
     margin: 10px 0px;
}